@import "src/styles/mixins";

.container {
}

.video {
  @include size(100%);
  scale: -1 1;
}

.canvas {
  @include size(100%);
  scale: -1 1;
}

.img {
  @include size(100%);
  object-fit: cover;
}

.displayNone {
  display: none;
}

.controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
