@use "../../styles/theme.scss" as *;
@use "../../styles/mixins.scss" as *;

.chatContainer {
  @include flex(column);
  @include rounded($border-radius-big);
  width: 600px;
  height: 100vh;
  max-height: 100%;
  background-color: $color-dark-secondary;
  padding: 16px;
}

.chatHeader {
  @include flex;
  width: calc(100% + 32px);
  color: $color-text-primary;
  font-size: 14px;
  padding: 0 8px 16px 16px;
  border-bottom: 1px solid rgba($color-accent-primary, 0.5);
}

.chatMessages {
  @include flex(column);
  @include customScrollbar;
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  margin-bottom: 16px;
  padding: 16px 8px;
  padding-top: 16px;
}

.messageWrapper {
  @include flex;
  position: relative;
  width: 100%;
  gap: 14px;
  margin: 4px 0;
  padding-top: 20px;

  &.myMessage {
    flex-direction: row-reverse;
  }
}

.messageText {
  @include flex(column);
  @include rounded;
  position: relative;
  max-width: 70%;
  padding: 8px 12px;
  margin-left: 46px;
  background-color: $color-dark-tertiary;
  color: $color-text-primary;
  font-size: 14px;
  align-items: flex-start;

  span {
    white-space: pre-wrap;
    word-break: break-word;
  }

  &::before {
    content: "";
    @include size(16px);
    position: absolute;
    top: 0;
    left: -8px;
    background-color: $color-dark-tertiary;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }

  .myMessage & {
    background-color: $color-dark-message;
    text-align: right;
    margin-left: 0;
    margin-right: 46px;
    align-items: flex-end;

    &::before {
      left: auto;
      right: -8px;
      top: auto;
      bottom: 0;
      background-color: $color-dark-message;
      clip-path: polygon(0 0, 0 100%, 100% 100%);
    }
  }
}

.strong {
  font-weight: 500;
  font-size: 12px;
  color: rgba($color-text-primary, 0.7);
  margin-bottom: 4px;
}

.avatar {
  @include size(32px);
  @include rounded(50%);
  position: absolute;
  top: 15px;
  left: 0;
  object-fit: cover;

  .myMessage & {
    left: auto;
    right: 0;
    top: auto;
    bottom: -5px;
  }
}

.chatInputContainer {
  width: 100%;
  min-height: fit-content;

  form {
    @include flex;
    gap: 12px;
  }

  & button.sendButton {
    @include flex(row, center, center);
    flex-shrink: 0;
    height: 45px;
    width: 45px;
    cursor: pointer;
    transform: rotate(-33deg);
    border: 1px solid rgba($color-accent-primary, 0.7);
    color: rgba($color-accent-primary, 0.7);

    &:hover {
      border-color: rgba($color-accent-primary, 0.8);
      color: rgba($color-accent-primary, 0.8);
    }
  }
}

.chatInput {
  @include rounded(20px);
  box-sizing: border-box;
  flex: 1;
  min-height: 50px;
  max-height: 120px;
  height: auto;
  padding: 12px 20px;
  background-color: $color-input;
  border: 1px solid rgba($color-accent-primary, 0.7);
  color: $color-text-primary;
  font-size: 14px;
  line-height: 1.5;
  resize: none;
  overflow-y: auto;

  &::placeholder {
    color: rgba($color-text-primary, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.onlineIndicator {
  display: inline-block;
  @include size(8px);
  @include rounded(50%);
  background: #4caf50;
  margin-right: 6px;
}
