@use "../../styles/theme.scss" as *;
@use "../../styles/mixins.scss" as *;
.container {
  width: 100%;
  height: max-content;
  max-height: calc(100vh - 100px);
}

.gamesTable {
  @include rounded($border-radius-big);
  background-color: $color-dark-secondary;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: $color-dark-tertiary;
  font-weight: 500;
  color: $color-text-primary;
  opacity: 0.8;

  .gameInfo {
    span {
      color: $color-text-primary;
      opacity: 0.8;
      text-transform: capitalize;
    }

    .playerCount {
      justify-self: center;
    }

    .createdAt {
      justify-self: start;
    }
  }
}

.tableContent {
  @include customScrollbar;
  overflow-y: auto;
  height: calc(100% - 58px);
  max-height: calc(100vh - 215px);
}

.actionColumn {
  width: 100px;
  text-align: center;
}

.gameRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  width: 100%;

  &:nth-child(even) {
    background-color: $color-dark-tertiary;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  & .joinButton {
    min-width: 100px;

    &[disabled] {
      background-color: $color-button-inactive;
      cursor: not-allowed;
    }
  }
}

.gameInfo {
  display: grid;
  grid-template-columns: 250px 100px 180px;
  gap: 32px;
  align-items: center;
  font-size: 16px;
  flex: 1;
}

.gameNumber {
  font-weight: 500;
  color: $color-text-primary;
  min-width: 80px;
}

.playerCount {
  color: $color-text-primary;
  min-width: 80px;
  justify-self: center;
}

.ownerName {
  color: $color-text-primary;
  min-width: 156px;
}

.createdAt {
  color: $color-text-primary;
  min-width: 140px;
  justify-self: start;
}

.createButton {
  width: 100%;
  max-width: 200px;
}

.ownerBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.lockIcon {
  color: $color-text-secondary;
  font-size: 14px;
  margin-left: 4px;
}
