@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.container {
  @include mixins.flex;
  column-gap: 1rem;

  cursor: pointer;
  font-size: 1.6rem;
}

.avatar {
  @include mixins.size(6rem);
  @include mixins.rounded(50%);
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}
