@use "../../styles/theme.scss" as theme;

@use "../../styles/mixins.scss";

.gmMenuContainer {
  flex-shrink: 0;
}

.controlBtn {
  @include mixins.flexCenter;
  background: rgba(theme.$color-light-primary, 0.15);
  border: 1px solid rgba(theme.$color-light-primary, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 0;
  color: theme.$color-text-primary;
  font-size: 1.6rem;

  &:hover,
  &.active {
    background: rgba(theme.$color-light-primary, 0.28);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}
