@use "../../styles/theme.scss";

.container {
  width: 100%;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.pseudoPlaceholder {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: theme.$color-text-primary;
  font-size: 1.6rem;
  pointer-events: none;

  transition: all 250ms;
}

.input {
  width: 100%;
  padding: 15px 10px 15px 20px;
  background: transparent;
  outline: none;
  border: 1px solid theme.$border-color;
  border-radius: theme.$border-radius-big;

  color: theme.$color-text-primary;
  font-size: 1.6rem;

  &:focus,
  &.withValue {
    border-color: theme.$color-accent-primary;

    & + .pseudoPlaceholder {
      padding: 2px 5px;
      background: theme.$color-dark-primary;
      font-size: 1rem;
      top: 0;
    }
  }

  &.withError {
    border-color: theme.$color-error;
    color: theme.$color-error;

    & + .pseudoPlaceholder {
      color: theme.$color-error;
    }
  }
}

.errorText {
  display: block;
  padding: 8px 0 0 20px;
  color: theme.$color-error;
  font-size: 1.1rem;
}

.icon {
  &.withError {
    color: theme.$color-error;
  }
}

.iconRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
