@use "sass:color";
@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.container {
  @include mixins.flexCenter;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: theme.$overlay-color;

  &.hide {
    display: none;
    height: 0;
    width: 0;
    right: 100%;
    bottom: 100%;
  }
}

.content {
  position: relative;
  @include mixins.flex;
  max-width: 70%;
  background: theme.$color-dark-tertiary;
  border-radius: theme.$border-radius;

  overflow: hidden;
}

.videoContainer {
  @include mixins.flexCenter(column);
  min-width: 700px;
  height: 100%;
}

.canvas {
  @include mixins.size(100%);
}

.img {
  @include mixins.size(100%);
  object-fit: contain;

  scale: -1 1;
}

.icon {
  @include mixins.size(6rem);
  @include mixins.rounded;
  cursor: pointer;

  object-fit: contain;
  background: theme.$color-light-secondary;
  padding: 10px 5px;
}

.imagePreview {
  @include mixins.size(8rem);
  cursor: pointer;
  border-radius: theme.$border-radius;

  object-fit: cover;
  overflow: hidden;
}

.displayNone {
  display: none;
}

.controllers {
  @include mixins.flex(column, space-around);
  padding: 1rem;
  width: 400px;
}

.imageContainer {
  @include mixins.flex(row, flex-start);
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;

  margin: 2rem 0;
}

.baseEffectButton {
  @include mixins.flex(row, flex-start);
  width: 100%;
  gap: 3rem;
}

.inputDownload {
  display: none;
}

.labelDownload {
  padding: 10px;
  background-color: theme.$color-accent-secondary;
  color: theme.$color-text-primary;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: theme.$border-radius;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  border: none;
  outline: none;
  text-transform: uppercase;
  box-shadow: theme.$shadow;

  margin-bottom: 2rem;

  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background-color: color.adjust(theme.$color-accent-secondary, $lightness: -10%);
    transform: scale(1.02);
    box-shadow: theme.$shadow-hover;
  }
}

.buttonContainer {
  @include mixins.flex(row, space-between);
  width: 100%;
  gap: 1rem;

  margin-top: 4rem;
}
