@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.overlay {
  @include mixins.flexCenter;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 99;
  background-color: rgba(theme.$color-dark-primary, 0.6);
}

.modal {
  min-width: 300px;
  max-width: 45dvw;
  max-height: 80dvh;

  background-color: theme.$color-dark-tertiary;
  border-radius: theme.$border-radius;
  box-shadow: theme.$shadow;

  padding: 1.5rem;

  overflow-y: auto;
}
