@use "../../styles/theme.scss" as theme;
@use "../../styles/mixins.scss" as mixins;

.menu {
  @include mixins.flex(column, flex-start, stretch);
  min-width: 16rem;
  padding: 0.5rem 0;
  background-color: theme.$color-dark-secondary;
  border: 1px solid theme.$color-light-tertiary;
  border-radius: theme.$border-radius;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.menuItem {
  @include mixins.flex(row, flex-start, center);
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  column-gap: 1rem;
  text-align: left;

  &:hover:not(.disabled) {
    background-color: rgba(theme.$color-light-primary, 0.1);
  }

  &:active:not(.disabled) {
    background-color: rgba(theme.$color-light-primary, 0.15);
  }

  &:focus-visible {
    outline: 2px solid theme.$color-accent-primary;
    outline-offset: -2px;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.danger {
    .menuItemText {
      color: theme.$color-error;
    }

    .menuItemIcon {
      color: theme.$color-error;
    }

    &:hover:not(.disabled) {
      background-color: rgba(theme.$color-error, 0.1);
    }
  }

  &.success {
    .menuItemText {
      color: theme.$color-success;
    }

    .menuItemIcon {
      color: theme.$color-success;
    }

    &:hover:not(.disabled) {
      background-color: rgba(theme.$color-success, 0.1);
    }
  }
}

.menuItemIcon {
  font-size: 1.8rem;
  color: theme.$color-text-primary;
  flex-shrink: 0;
}

.menuItemText {
  font-size: 1.4rem;
  color: theme.$color-text-primary;
  white-space: nowrap;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: theme.$color-light-tertiary;
  margin: 0.5rem 0;
}
