@use "../styles/mixins.scss";

.container {
  @include mixins.flexCenter(column);
  width: 100%;

  &.top {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.bottom {
    justify-content: flex-end;
  }
}
