@import "src/styles/theme";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  align-items: start;
  gap: 1rem;
  padding: 0 1rem;
  border-right: $border-color 1px solid;

  &.groupGrid {
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  }

  &.fiveGrid {
    grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
  }
}
