@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.form {
  width: 500px;
}

.singUpLink {
  color: theme.$color-accent-secondary;
  text-decoration: none;
  transition: color 0.2s;
  width: 100%;

  &:hover a {
    color: theme.$color-accent-primary;
    text-decoration: underline;
  }
}

.formFooter {
  @include mixins.flexCenter;
  gap: 4rem;

  width: 100%;
  margin-top: 1.5rem;
  padding: 0 25px;
  font-size: 1.8rem;
}
