@use "../../styles/mixins.scss";
@use "../../styles/theme.scss" as *;

.container {
  @include mixins.flex(row, flex-start, flex-start);
  flex: 1;
  gap: 24px;
  width: 100%;
  padding: 24px 0;
  overflow: hidden;
}
