@use "../../../styles/theme.scss" as theme;
@use "../../../styles/mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: theme.$color-text-primary;
  min-width: 400px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: theme.$color-text-primary;
}

.description {
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  color: theme.$color-text-secondary;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.error {
  color: theme.$color-error;
  font-size: 1.3rem;
  margin: -1rem 0 0;
  text-align: center;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  
  button {
    min-width: 120px;
  }
}
