@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.chatContainer {

  @include mixins.flex(column, stretch, center);
  height: 100%;
  width: 100%;
}

.tabs {
  @include mixins.flex(row, center, center);
  width: 100%;
  border-top: 1px solid theme.$color-dark-secondary;
  padding: 4px 8px;
  gap: 4px;
}

.tab {
  padding: 5px 14px;
  text-align: center;
  cursor: pointer;
  color: theme.$color-text-secondary;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.2s ease;
  background-color: transparent;
  border: 1px solid transparent;

  &:hover {
    color: theme.$color-text-primary;
    border-color: theme.$color-dark-secondary;
  }
}

.activeTab {
  background-color: transparent;
  border-color: theme.$color-accent-primary;
  color: theme.$color-accent-primary;
}

.deadTab {
  &:hover {
    color: theme.$color-error;
    border-color: theme.$color-error;
  }

  &.activeTab {
    border-color: theme.$color-error;
    color: theme.$color-error;
  }
}

.inputContainer {
  width: 100%;
  padding: 6px 10px;
  position: relative;
}

.deadNotice {
  @include mixins.flex(row, center, center);
  gap: 6px;
  width: 100%;
  padding: 8px 12px;
  color: theme.$color-text-secondary;
  font-size: 1.2rem;
  opacity: 1;
  font-style: italic;
}
