@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.chatContainer {
  @include mixins.flex(column, flex-end, center);
  height: 100%;
  width: 100%;
}

.inputContainer {
  width: 100%;
  padding-left: 10px;
}
