@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.chatContainer {
  @include mixins.flex(column, stretch, center);
  height: 100%;
  width: 100%;
  position: relative;
}

.toasterContainer {
  position: absolute;
  bottom: 80px;
  right: 8px;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  pointer-events: none;
  z-index: 100;
}

.toastWrapper {
  display: flex;
  justify-content: flex-end;
}

.tabs {
  @include mixins.flex(row, center, center);
  width: 100%;
  border-top: 1px solid theme.$color-dark-secondary;
  padding: 6px 8px;
  gap: 6px;
}

.tab {
  flex: 1;
}

.inactiveTab {
  color: theme.$color-text-secondary;

  &:hover {
    color: theme.$color-text-primary;
  }
}

.inputContainer {
  width: 100%;
  padding: 6px 10px;
  position: relative;
}

.deadNotice {
  @include mixins.flex(row, center, center);
  gap: 6px;
  width: 100%;
  padding: 8px 12px;
  color: theme.$color-text-secondary;
  font-size: 1.2rem;
  opacity: 1;
  font-style: italic;
}
