@use "../../../styles/mixins.scss";

.gmPanel {
  @include mixins.flexCenter(column);
  width: 100%;
  height: 100%;
  column-gap: 2rem;

  position: relative;
}

.initialPanelContainer {
  @include mixins.flexCenter;
  min-width: 50%;
  width: 100%;
  height: 100%;
}

.dayNightPanelContainer {
  @include mixins.flex;
  column-gap: 2rem;
  min-width: 50%;
  width: 100%;

  margin-bottom: 1rem;
}

.restart {
  position: absolute;
  top: 1rem;
  right: 0;
  font-size: 1rem;

  cursor: pointer;
}

.nightContainer,
.dayContainer {
  @include mixins.flex(row, space-around, flex-start);
  flex-wrap: wrap;

  width: 100%;
  font-size: 1.5rem;

  overflow: auto;
}

.radioLabel {
  @include mixins.flexCenter;
  column-gap: 0.5rem;
  cursor: pointer;
}
