@import "../../../styles/mixins.scss";
@import "../../../styles/theme.scss";

.speakerBlockContainer {
  @include flex(column, start, start);
  width: 100%;
}

.controlsContainer {
  @include flex(row, flex-start, center);
  gap: 10px;
  width: 100%;
}

.controlIcon {
  cursor: pointer;
  flex-shrink: 0;
  color: $color-light-primary;
  transition: scale 0.2s ease;

  &:hover {
    scale: 1.1;
  }
}

.speakerInfo {
  margin-top: 8px;
  color: $color-text-primary;
}
