@import "src/styles/mixins";
@import "src/styles/theme";

.userModal {
  @include flexCenter;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  &.active {
    display: flex;
  }

  &.hidden {
    display: none;
  }
}

.userContainer {
  @include flex(column);
  @include customScrollbar;

  padding: 2em;
  border-radius: 1em;
  background-color: lightgrey;
  width: 50%;
  max-height: 80vh;

  overflow-y: auto;
}

.userCard {
  @include flex(column);

  width: 80%;
  color: black;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;
  background-color: #ffffff;

  cursor: pointer;
  transition:
    background-color 300ms,
    color 300ms;

  &:hover {
    background-color: #61dafb;
    color: white;
  }
}
