@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.container {
  @include mixins.flex(column, flex-start, flex-start);
  padding: 2rem;
  gap: 3rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  /* Custom Scrollbar for Settings page */
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: theme.$color-dark-secondary;
    border-radius: 4px;
    &:hover {
      background: theme.$color-text-secondary;
    }
  }
}

.title {
  color: theme.$color-text-primary;
}

.section {
  @include mixins.flex(column, flex-start, flex-start);
  gap: 1rem;
  width: 100%;
}

.sectionTitle {
  color: theme.$color-text-secondary;
}

.audioWrapper {
  margin-top: 16px;
  width: 100%;
  max-width: 600px;
}
