.logo {
  display: flex;
  font-family: "Cinzel Decorative", serif;

  // Sizes
  &.small {
    font-size: 1.2rem;
  }

  &.medium {
    font-size: 3.2rem;
  }

  &.large {
    font-size: 6.4rem;
  }

  // Position
  &.left {
    margin-right: 0.5rem;
  }

  &.right {
    justify-content: flex-end;
    margin-left: 0.5rem;
  }

  &.center {
    justify-content: center;
    margin: 0 0.5rem;
  }
}
