@use "../../styles/theme.scss";

.menuElement {
  cursor: pointer;
  color: theme.$color-accent-tertiary;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: theme.$color-accent-secondary;
  }
}
