@use "../../styles/theme.scss";

.menuElement {
  cursor: pointer;
  padding: 6px 12px;
  transition: color 0.2s ease-in-out;
  font-size: 1.6rem;
  color: theme.$color-text-secondary;
  min-width: 100px;

  &:hover {
    color: theme.$color-text-primary;
  }
}
