@use "../../../styles/theme.scss" as theme;

.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: theme.$color-text-primary;
  max-width: 500px;
}

.warning {
  line-height: 1.6;
  text-align: left;
  margin: 0;
  color: rgba(theme.$color-text-primary, 0.85);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;

  button {
    flex: 1;
  }
}
