@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.pageContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 23%;
  grid-template-rows: calc(100vh - 40px);
  gap: 12px;
  font-size: 1.8rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.rightContainer {
  @include mixins.flex(column, flex-start, center);
  gap: 12px;
  height: 100%;
  overflow: hidden;
}

.asideSection {
  @include mixins.rounded(theme.$border-radius-big);
  width: 100%;
  background-color: theme.$color-dark-secondary;
  padding: 16px;
  flex-shrink: 0;
}

.personalInfo {
  height: auto;
  min-height: 150px;
}

.chatSection {
  @include mixins.rounded(theme.$border-radius-big);
  width: 100%;
  flex: 1;
  min-height: 0;
  background-color: theme.$color-dark-secondary;
  padding: 16px;
  overflow: hidden;
}
