@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.pageContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 23%;
  grid-template-rows: calc(100vh - 87px);
  gap: 50px;

  font-size: 1.8rem;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.rightContainer {
  @include mixins.flex(column, flex-start, center);
}

.asideSection {
  width: 100%;
  height: 20%;
  border-bottom: theme.$color-accent-primary 1px solid;
}

.personalInfo,
.voteList {
}

.chatSection {
  width: 100%;
  height: 60%;
}
