@use "../../styles/mixins.scss";

.container {
  @include mixins.flexCenter;
  height: 100%;
}

.fakeCard {
  position: fixed;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  pointer-events: none;
  z-index: 1000000;
}
