@use "../../styles/mixins.scss";

.container {
  @include mixins.flexCenter;
  height: 100%;
}

.playerPanel {
  @include mixins.flex(row, space-between, center);
  height: 100%;
  width: 100%;
  gap: 10px;
}

.roleCardContainer {
  position: fixed;
}

.fakeCard {
  position: fixed;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  pointer-events: none;
  z-index: 1000000;
}
