@use "../../styles/theme.scss" as theme;
@use "../../styles/mixins.scss" as mixins;

.mediaControls {
  @include mixins.flex(row, center, center);
  column-gap: 1rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: theme.$border-radius;
  background-color: transparent;
  z-index: 15;

  &.small {
    right: 0;
    column-gap: 0.5rem;
    padding-right: 0.5rem;
  }
}

.controlButton {
  @include mixins.flexCenter;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: rgba(theme.$color-light-primary, 0.2);
  transition: all 0.2s ease;

  &.interactive {
    cursor: pointer;

    &:hover {
      background-color: rgba(theme.$color-light-primary, 0.3);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus-visible {
      outline: 2px solid theme.$color-accent-primary;
      outline-offset: 2px;
    }
  }

  &.disabled {
    background-color: rgba(theme.$color-error, 0.5);
  }
}

.icon {
  font-size: 1.7rem;
  color: theme.$color-text-tertiary;
}
