@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

@keyframes videoSlide {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 182px;
    left: calc(100vw - 250px);
  }
}

.container {
  @include mixins.flexCenter;
  position: relative;
  border-radius: theme.$border-radius;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: border-color 0.3s ease;

  &.speaking {
    border-color: theme.$color-info;
    box-shadow: 0 0 8px rgba(theme.$color-info, 0.5);
  }

  &.active {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
  }
}

.myVideoContainer {
  position: fixed;

  width: 200px;
  height: 150px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.4),
    0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: theme.$border-radius;
  will-change: top, left;

  z-index: 99;
  cursor: grab;

  & .userInfo {
    font-size: 1.4rem;
  }

  animation: videoSlide 0.3s ease-out forwards;
}

.dragging {
  cursor: grabbing;
}

.video {
  object-fit: cover;
  height: 100%;
  width: auto;
  transition: opacity 0.3s ease-out;

  &.widthProportion {
    width: 100%;
    height: auto;
  }

  &.heightProportion {
    width: auto;
    height: 100%;
  }
}

.noVideo {
  @include mixins.flexCenter;
  background-color: rgba(theme.$color-dark-primary, 80%);
  color: theme.$color-text-secondary;
  font-size: 1.4rem;
  font-weight: 500;
}

.userInfo {
  @include mixins.flex(row, flex-start, center);
  width: max-content;
  column-gap: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;

  color: theme.$color-text-tertiary;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: theme.$border-radius;
  background-color: rgba(theme.$color-dark-primary, 50%);

  z-index: 10;
}

.menuContainer {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 10;
}

.menu {
  font-size: 3rem;
  color: theme.$color-text-secondary;
  rotate: 90deg;
  cursor: pointer;
}

.gmLabel {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  color: theme.$color-accent-secondary;
}

.statusIconsContainer {
  @include mixins.flex(row, flex-start, center);
  column-gap: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  color: theme.$color-text-primary;

  z-index: 10;
}

.statusIcon {
  cursor: pointer;
}

.statusDisabled {
  color: theme.$color-error;
}

.deadOverlay {
  @include mixins.flexCenter;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: theme.$color-dark-primary;
  border: 2px solid theme.$color-dark-secondary;
  border-radius: theme.$border-radius;

  color: theme.$color-error;
  font-size: 5rem;
  font-weight: 600;
  z-index: 10;
}

.gmIconContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
