@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

@keyframes videoSlide {
  from {
    top: 40px;
    right: 85%;
  }
  to {
    top: 28%;
    right: 20px;
  }
}

.container {
  @include mixins.flexCenter;
  position: relative;
  border-radius: theme.$border-radius;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
  }
}

.myVideoContainer {
  display: none;
  position: fixed;
  top: 40px;
  right: 85%;
  width: 200px;
  height: 150px;

  z-index: 99;
  cursor: grab;

  & .userInfo {
    font-size: 1.4rem;
  }

  &.myVideoActive {
    @include mixins.flexCenter;
    animation: videoSlide 0.3s forwards;
  }
}

.dragging {
  cursor: grabbing;
}

.video {
  object-fit: cover;

  &.widthProportion {
    width: 100%;
    height: auto;
  }

  &.heightProportion {
    width: auto;
    height: 100%;
  }
}

.userInfo {
  @include mixins.flex(row, flex-start, center);
  width: max-content;
  column-gap: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;

  color: theme.$color-text-tertiary;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: theme.$border-radius;
  background-color: rgba(theme.$color-dark-primary, 50%);

  z-index: 10;
}

.menu {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 3rem;
  color: theme.$color-accent-primary;
  rotate: 90deg;

  z-index: 10;
  cursor: pointer;
}

.gmLabel {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  color: theme.$color-accent-secondary;
}

.statusIconsContainer {
  @include mixins.flex(row, flex-start, center);
  column-gap: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  color: theme.$color-dark-tertiary;

  z-index: 10;
}

.statusIcon {
  cursor: pointer;
}

.statusDisabled {
  color: theme.$color-error;
}

.deadOverlay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: theme.$color-error;

  font-weight: 600;
  z-index: 10;
}

.gmOverlay {
  outline: 3px solid gold;
}
