@import "src/styles/theme.scss";
@import "src/styles/mixins.scss";

.container {
  @include flexCenter;
  position: relative;
  border-radius: $border-radius;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
  }
}

.myVideoContainer {
  display: none;
  position: fixed;
  top: 28%;
  right: 2rem;
  width: 200px;
  height: 150px;

  z-index: 99;
  cursor: grab;

  & .userInfo {
    display: none;
  }

  &.myVideoActive {
    display: block;
  }
}

.dragging {
  cursor: grabbing;
}

.video {
  object-fit: cover;
  transform: scaleX(-1);

  &.widthProportion {
    width: 100%;
    height: auto;
  }

  &.heightProportion {
    width: auto;
    height: 100%;
  }
}

.userInfo {
  @include flex(row, flex-start, center);
  width: max-content;
  column-gap: 1.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;

  color: $color-text-tertiary;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  background-color: rgba($color-dark-primary, 50%);

  z-index: 10;
}

.menu {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 3rem;
  color: $color-accent-primary;
  rotate: 90deg;

  z-index: 10;
  cursor: pointer;
}

.gmLabel {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  color: $color-accent-secondary;
}

.statusIconsContainer {
  @include flex(row, flex-start, center);
  column-gap: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  color: $color-dark-tertiary;

  z-index: 10;
}

.statusIcon {
  cursor: pointer;
}

.statusDisabled {
  color: $color-error;
}

.deadOverlay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $color-error;

  font-weight: 600;
  z-index: 10;
}

.gmOverlay {
  outline: 3px solid gold;
}
