@import "src/styles/theme.scss";
@import "src/styles/mixins.scss";

.voteIcon {
  position: absolute;
  top: 5px;
  left: 5px;

  z-index: 10;
}

.voteList {
  @include flex(column, flex-start, flex-start);
  column-gap: 1rem;
  position: absolute;
  top: 60px;
  left: 5px;
  padding: 0.5rem;
  background-color: rgba($color-dark-primary, 50%);
  border-radius: $border-radius;
  color: $color-text-tertiary;
  font-size: 1.4rem;

  z-index: 10;
}

.iconContainer {
  position: absolute;
  top: 5px;
  left: 5px;

  z-index: 10;

  @include flex(row, flex-start, center);
  column-gap: 0.5rem;
}

.voteCounter {
  @include flexCenter;
  position: absolute;
  top: -1px;
  right: -5px;

  width: 14px;
  height: 14px;
  padding: 2px;

  background-color: $color-accent-tertiary;
  color: $color-dark-tertiary;
  font-size: 1.1rem;
  line-height: 100%;
  font-weight: 600;

  border-radius: 50%;

  z-index: 10;
}
