.container {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;

  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateZ(-27deg) rotateY(-180deg) translate(117px);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  background-color: transparent;
  transform: rotateY(180deg);
}

.back {
  background-color: transparent;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.roleName {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  color: #fff;
  font-weight: 400;
  text-align: center;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
