@import 'src/styles/theme.scss';
@import 'src/styles/mixins';

.LinksList {
  @include flex;
  column-gap: 2rem;
}

.Link {
  font-size: 3rem;
  color: $color-text-secondary;
  padding: 5px;

  &:hover,
  &:focus {
    color: $color-accent-primary;
  }

  transition: color 0.25s;
}

.LinkActive {
  color: $color-accent-primary;
}
