@use "../../styles/theme.scss";
@use "../../styles/mixins.scss";

.navContainer {
  margin: 0 auto 0 2rem;
}

.LinksList {
  @include mixins.flex;
  column-gap: 2rem;
}

.Link {
  font-size: 3rem;
  color: theme.$color-text-secondary;
  padding: 5px;

  &:hover,
  &:focus {
    color: theme.$color-accent-primary;
  }

  transition: color 0.25s;
}

.LinkActive {
  color: theme.$color-accent-primary;
}
